/*To ensure that, when the screen size is smaller, 
the text doesn't stick to edge */
content{
	margin-right: auto;
	margin-left: auto;
	padding-left: 0.938em;
	padding-right: 0.938em;
}

.main {
position: relative;
padding: 1.8em 0.9em;
text-align: center;
}

/*Home Footer*/

$footerLineColor: #e5e5e5;
$footerLineHeight: 0.063em;
$footerTextColor:#777;

footer{
	padding-top: 2.5em;
	color: $footerTextColor;
	text-align: center;
	border-top: $footerLineHeight solid $footerLineColor;
}
